mcs-plotter-y-axis-label {
    .mcs-plotter-y-axis-text {
        height: 5%;
        position: absolute;
        width: 100%;
        right: 0px;
        text-align: right;
        margin-right: 2px;
        line-height: 0.9;
    }
}
