mcs-settings {
    .mcs-settings-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .mcs-settings-alternate-equipment-selector,
    .mcs-settings-small-plotter,
    .mcs-settings-filter-target-dropdown,
    .mcs-settings-import-on-startup {
        display: block;
        margin-bottom: 20px;
    }

    .mcs-gamemode {
        margin-bottom: 20px;
    }

    .mcs-settings-import-export {
        margin-bottom: 20px;

        .mcs-settings-import-export-title {
            margin-bottom: 10px;
        }
    }
}
