mcs-skill-tree {
    display: block;
    margin-left: -20px;

    .mcs-skill-tree-container {
        overflow: hidden;
        position: relative;
    }

    .mcs-skill-tree-node {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        padding: 5px;
        background: var(--mcs-button-secondary-color);
        outline: none !important;
        outline-offset: -2px;
        cursor: pointer;

        &:hover:not(.mcs-is-unlocked) {
            outline: solid 2px var(--mcs-button-secondary-hover-color) !important;
        }

        &.mcs-is-unlocked {
            background-color: var(--mcs-button-background-color);

            &:hover {
                background-color: var(--mcs-button-background-hover-color);
            }
        }
    }
}
