mcs-plotter-grid-line {
    .mcs-plotter-grid-line {
        position: absolute;
        width: 100%;
        left: 0px;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-color: lightgray;
    }
}
