mcs-out-of-combat-stats {
    display: none;
    padding: 20px;
    min-width: 250px;
    width: 250px;
    overflow-y: auto;

    mcs-simulate-buttons {
        margin-top: 10px;
        display: block;

        .mcs-simulate-buttons {
            font-size: 13px;

            .mcs-simulate-all {
                flex-grow: 1;
            }
        }
    }

    .mcs-active-target {
        width: 100%;
        font-size: 11.05px;
        margin-top: 5px;
    }

    &.is-open {
        display: block;
    }
}

#mcs-combat-simulator.summary-open {
    mcs-out-of-combat-stats mcs-simulate-buttons {
        display: none;
    }
}
