mcs-modifiers {
    .mcs-modifiers-search {
        margin-bottom: 20px;
    }

    .mcs-active-modifiers {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
