@import 'variables';

body.mcs-is-open {
    overflow: hidden;
}

.mcs-flex-space {
    flex-grow: 1;
}

.mcs-navigation-button {
    color: var(--mcs-navigation-button-color);
    background: none;
    border: none;
    margin: -10px 0 -10px;
    padding: 10px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 100%;
    }

    &.is-highlight {
        background: var(--mcs-navigation-button-highlight);
    }

    &:focus {
        outline-style: none;
    }

    &:hover {
        outline-style: solid;
        outline-color: var(--mcs-navigation-button-outline-color);
        outline-width: 2px;
        outline-offset: -2px;
    }
}

#mcs-combat-simulator {
    .form-control {
        background: var(--mcs-form-control-background-color) !important;
        border-color: var(--mcs-form-control-border-color);
        border-radius: 0;
        font-size: 0.875rem;

        &:focus {
            box-shadow: none;
        }

        &::placeholder {
            color: var(--mcs-form-control-placeholder-color);
        }

        &::selection {
            background: var(--mcs-form-control-selected-color);
        }
    }
}

#mcs-backdrop {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--mcs-backdrop-color);
    opacity: 0.7;
    z-index: 9999;

    &.is-open {
        display: block;
    }
}

.mcs-code {
    font-family: monospace;
}

.mcs-descriptive-text {
    display: block;
    font-size: 70%;
    margin-bottom: 4px;
    color: var(--mcs-descriptive-text-color);
}

.mcs-button {
    background-color: var(--mcs-button-background-color);
    outline: none !important;

    &:hover:not([disabled]) {
        background-color: var(--mcs-button-background-hover-color);
    }
}

.mcs-button-secondary {
    background-color: var(--mcs-button-secondary-color);
    outline: none;
    outline-offset: -2px;

    &:hover:not([disabled]) {
        outline: solid 2px var(--mcs-button-secondary-hover-color) !important;
    }
}

.mcs-button {
    color: var(--mcs-button-text-color);
}

.mcs-button-secondary {
    color: var(--mcs-button-secondary-text-color);
}

.mcs-button,
.mcs-button-secondary {
    font-size: 85%;
    min-height: 38px;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    &[disabled] {
        opacity: 0.7;
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
    }
}

.mcs-is-open {
    .newNotification {
        z-index: 10001 !important;
    }
}

.mcs-expandable-header {
    padding: 7px 10px;
    background: var(--mcs-expandable-header-background-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;

    &:hover {
        outline: solid 2px var(--mcs-expandable-header-hover-color);
        outline-offset: -2px;
    }

    i:before {
        content: '\f078';
    }

    &.mcs-is-open {
        i:before {
            content: '\f077';
        }
    }
}

.mcs-expandable-body {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: solid 2px var(--mcs-expandable-body-border-color);
    border-top: 0;

    &.mcs-is-open {
        display: flex;
    }
}
