:root {
    --mcs-main-text-color: white;
    --mcs-main-background-color: #3c3c3c;
    --mcs-main-border-color: #4c4c4c;
    --mcs-header-background-color: #6f6c68;
    --mcs-dialog-background-color: #494949;
    --mcs-dialog-border-color: #6b6b6b;
    --mcs-navigation-button-color: white;
    --mcs-navigation-button-outline-color: white;
    --mcs-navigation-button-highlight: #54a196;
    --mcs-button-background-color: #54a196;
    --mcs-button-background-hover-color: #4b9086;
    --mcs-button-secondary-color: #5f5f5f;
    --mcs-button-secondary-hover-color: white;
    --mcs-button-text-color: white;
    --mcs-button-secondary-text-color: white;
    --mcs-button-toggled-color: #54a196;
    --mcs-button-toggled-hover-color: #4b9086;
    --mcs-backdrop-color: black;
    --mcs-descriptive-text-color: #b5b5b5;
    --mcs-form-control-background-color: #6f6c68;
    --mcs-form-control-border-color: #ababab;
    --mcs-form-control-placeholder-color: #c2c2c2;
    --mcs-form-control-selected-color: #54a196;
    --mcs-information-monster-note: red;
    --mcs-information-monster-note-hint: yellow;
    --mcs-information-multiple-realms-color: #6cceff;
    --mcs-information-warning-color: orange;
    --mcs-information-death-color: red;
    --mcs-dropdown-button-color: #f5f5f5;
    --mcs-dropdown-input-background-color: #595959;
    --mcs-dropdown-form-control-hover: #55524f;
    --mcs-line-item-border: #858585;
    --mcs-swiper-dot-focus: white;
    --mcs-swiper-dot-unfocus: grey;
    --mcs-switch-untoggled-indicator-color: white;
    --mcs-switch-untoggled-background-color: #ccc;
    --mcs-switch-untoggled-background-hover-color: #bfbfbf;
    --mcs-switch-toggled-background-color: #54a196;
    --mcs-switch-toggled-background-hover-color: #4b9086;
    --mcs-tab-background: #333333;
    --mcs-tooltip-background-color: #3d3d3d;
    --mcs-tooltip-border-color: #b3b3b3;
    --mcs-tooltip-text-color: white;
    --mcs-slot-container-border-color: #b5afa6;
    --mcs-slot-container-background-color: #555555;
    --mcs-slot-item-border-color: #6f6c68;
    --mcs-slot-item-hover-color: #3c3d3c;
    --mcs-page-description: #c7c7c7;
    --mcs-button-container-background-color: #6f6c68;
    --mcs-plotter-grid-line: lightgray;
    --mcs-simulate-failure-color: red;
    --mcs-expandable-header-background-color: #6f6c68;
    --mcs-expandable-header-hover-color: white;
    --mcs-expandable-body-border-color: #6f6c68;
    --mcs-import-error: red;
    --mcs-summary-abyssal-level-color: #e56767;
    --mcs-toth: #8a79fc;
    --mcs-aod: #ffbb53;
    --mcs-ita: #e52f24;
}
