mcs-import-dialog {
    .mcs-settings-import-dialog-pre {
        display: none;
        margin-top: 10px;
        padding: 10px;
        color: red;
        user-select: all;
        white-space: normal;

        code {
            white-space: pre;
        }
    }

    textarea {
        margin-top: 20px;
        width: 100%;
        resize: none;
    }
}
