#myth-combat-simulator-modal {
    #mcs-attack-styles-container {
        display: flex;
        max-width: 250px;

        #mcs-attack-styles-dropdown {
            max-width: 160px;
        }

        #mcs-attack-styles {
            flex-grow: 1;
            justify-content: space-between;
        }
    }
}
