.mcs-header-expansions {
    display: flex;
    gap: 5px;
    margin-right: 5px;

    .mcs-header-expansion {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &.toth {
            background: var(--mcs-toth);
        }

        &.aod {
            background: var(--mcs-aod);
        }

        &.ita {
            background: var(--mcs-ita);
        }
    }
}
