#myth-combat-simulator-modal {
    #mcs-plotter {
        #mcs-plotter-card {
            padding: 0 !important;
        }

        .mcs-plotter-container {
            overflow: auto;
            display: flex;
        }
    }
}
