#myth-combat-simulator-modal {
    #mcs-food-wrapper {
        position: relative;

        #mcs-equipment-item-mcs-food img {
            width: 35px;
            height: 35px;
        }
    }

    #mcs-food {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #mcs-auto-eat {
        flex-grow: 1;
    }

    #mcs-food-healing-value {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            height: 20px;
        }
    }
}
