mcs-modifiers-modifier {
    .mcs-modifier-source {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .mcs-modifier-source-image,
    .mcs-modifier-source-space {
        width: 20px;
        height: 20px;
    }

    .mcs-source-amount {
        text-wrap: nowrap;
    }
}
