#mcs-bugs {
    a {
        color: var(--mcs-button-background-color);

        &:hover {
            color: var(--mcs-button-background-hover-color);
            text-decoration: underline;
        }
    }

    .mcs-bugs-content {
        resize: none;
        user-select: all;
        background: var(--mcs-form-control-background-color) !important;
        border-color: var(--mcs-form-control-border-color);
        border-radius: 0;
        font-size: 0.875rem;

        &:focus {
            box-shadow: none;
        }

        &::placeholder {
            color: var(--mcs-form-control-placeholder-color);
        }

        &::selection {
            background: var(--mcs-form-control-selected-color);
        }
    }
}
