mcs-switch {
    .mcs-switch-description {
        display: block;
        font-size: 70%;
        color: var(--mcs-descriptive-text-color);
    }

    .mcs-switch-toggle-container {
        margin-top: 4px;
        display: flex;
        align-items: center;
    }

    .mcs-switch-toggle-text {
        font-size: 90%;
    }

    .mcs-switch-toggle {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
        margin-bottom: 0;
        margin-right: 5px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .mcs-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--mcs-switch-untoggled-background-color);
            border-radius: 24px;

            &:hover {
                background-color: var(--mcs-switch-untoggled-background-hover-color);
            }

            &:before {
                position: absolute;
                content: '';
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 4px;
                background-color: var(--mcs-switch-untoggled-indicator-color);
                border-radius: 50%;
            }
        }

        input:checked + .mcs-slider {
            background-color: var(--mcs-switch-toggled-background-color);

            &:hover {
                background-color: var(--mcs-switch-toggled-background-hover-color);
            }
        }

        input:checked + .mcs-slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }
}
