mcs-dialog {
    z-index: 10003;
    color: var(--mcs-main-text-color);
    visibility: hidden;

    &.is-open {
        visibility: visible;
    }

    [slot='content'].mcs-with-textarea {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        textarea {
            min-height: 10em;
        }
    }

    [slot='footer'] {
        margin-left: auto;
    }
}

#mcs-dialog-backdrop {
    display: none;
    position: fixed;
    top: -30px;
    left: -30px;
    bottom: -30px;
    right: -30px;
    background: var(--mcs-backdrop-color);
    opacity: 0.3;
    z-index: 10002;

    &.is-open {
        display: block;
    }
}

@media (max-width: 500px) {
    mcs-dialog [slot='content'].mcs-with-textarea textarea {
        height: 100%;
    }
}
