mcs-equipment-slot {
    padding: 5px;

    .mcs-equipment-slot-container {
        display: block;
        cursor: pointer;
        border: solid 2px #b5afa6;
        background: #555555;
        padding: 5px;
        width: 50px;
        height: 50px;
    }

    &[readonly] {
        .mcs-equipment-slot-container {
            cursor: default;
        }
    }

    .mcs-equipment-slot-image {
        width: 100%;
        height: 100%;

        &.mcs-occupied {
            opacity: 0.4;
        }
    }

    .mcs-equipment-slot-section-title {
        margin: 20px 0 10px;
    }

    .mcs-equipment-slot-section {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .mcs-equipment-slot-item {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border: solid 1px #6f6c68;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    mcs-dialog [slot='footer'] {
        display: flex;
        gap: 5px;
        margin-left: initial;
        width: 100%;
    }
}

@media (hover: hover) {
    mcs-equipment-slot .mcs-equipment-slot-item:hover {
        background: #3c3d3c;
    }
}
