#mcs-combat-simulator {
    mcs-dropdown {
        display: flex;
        align-items: center;

        .dropdown-divider {
            margin: 0;
            overflow: hidden;
        }

        .dropdown-menu.show {
            display: flex;
            flex-direction: column;
            background: #6f6c68 !important;
            border-radius: 0;
            max-height: 500px;
            overflow: hidden;
            padding: 0;

            .mcs-dropdown-items {
                overflow: auto;
                padding: 0.5rem;
            }

            .dropdown-item {
                background: #6f6c68 !important;
                outline: none;

                &:hover {
                    background: darken(#6f6c68, 10%) !important;
                }
            }
        }

        .mcs-dropdown-label {
            font-weight: normal;
            margin-bottom: 0;
            margin-right: 5px;
        }

        .mcs-dropdown-search {
            margin: 0.5rem;

            input.msc-dropdown-search-input {
                background: #595959 !important;
            }
        }

        .mcs-dropdown-button {
            background: #6f6c68;
            color: #f5f5f5;
            outline: none;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            border: 1px solid #f5f5f5;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            min-height: 38px;
        }
    }
}
