#mcsModal {
    &.show {
        display: flex !important;
    }

    .modal-dialog {
        max-width: 95%;
        display: inline-block;
    }

    input.form-control {
        width: 100px;
    }

    .combat-equip-img {
        margin: 2px;
    }
}

body.darkMode {
    .mcs-save-slot-swal-container {
        .swal2-input-label,
        .swal2-input {
            color: #f5f5f5 !important;
        }
    }
}

.mcs-summary-swal-container {
    .mcsCCContainer {
        font-size: 13px;

        &.synergy {
            display: none;
        }
    }

    .mcsCardContainer.mcsOuter {
        padding: 0 13px;
    }

    .MCS.Image.Container {
        cursor: default !important;
    }

    .combat-equip-img {
        margin: 2px;
    }

    .mcs-summary-items-outer-container {
        flex-direction: row;
    }

    .mcs-summary-items-container {
        margin: 0 -2px;
    }

    .mcs-summary-out-of-combat-stats-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .mcs-summary-version-display {
            font-size: 9px;
            width: 100%;
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            justify-content: end;
        }
    }

    .mcs-summary-levels-container {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 13px;
        gap: 10px;
    }

    .mcs-summary-group {
        margin-bottom: 5px;
        padding: 3px 0;
        font-size: 13px;

        .mcs-summary-image-label {
            display: flex;
            align-items: center;
            max-width: 200px;
            padding: 1px 0;

            .mcsLabel {
                text-align: left;
                white-space: inherit;
            }
        }
    }
}

.mcsTabContent {
    width: 100%;
    border-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: none;
    justify-content: center;
}

.mcsBot {
    height: 400px;
}

.mcsNoSelect {
    user-select: none;
}

.mcsFlexFiller {
    flex-grow: 1;
    height: 0px;
}

.mcsTab {
    position: absolute;
    height: 50px;
    width: 200px;
    background-color: inherit;
    right: 0px;
    border-style: solid;
    border-width: thin;
    border-color: inherit;
    border-bottom: none;
    display: flex;
    align-items: center;
}

.mcsTabLogo {
    margin: 3px;
    width: 44px;
}

.mcsTabText {
    text-align: left;
}

.mcsInfoText {
    text-align: center;
    margin: 8px 0;
    max-width: 220px;
}

.mcsOuter {
    padding: 0.25rem;
    margin: 0.25rem !important;
    min-width: 250px;
}

.mcsCardContainer {
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
}

.mcsPlotContainer {
    border: none;
    position: relative;
    font-size: 16px;
    overflow-x: auto;
    min-height: 428px;
}

.mcsTabContainer {
    border-style: none solid solid solid;
    border-color: #bbbbbb;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-width: 2px;
}

.mcsPlotTopContainer {
    position: relative;
    margin-top: 20px;
    margin-right: 0.25rem;
    flex-grow: 1;
    border-color: inherit;
    background-color: inherit;
    display: flex;
    height: 280px;
}

.mcsXAxis {
    position: absolute;
    display: flex;
    min-height: 80px;
    flex-grow: 0;
    left: 85px;
    border-color: inherit;
}

.mcsYAxis {
    position: relative;
    height: 100%;
    min-width: 80px;
}

.mcsPlotBox {
    position: relative;
    display: flex;
    height: 100%;
    border-width: thin;
    border-style: solid;
    border-color: inherit;
    background-color: inherit;
}

.mcsPlotLabel {
    position: absolute;
    top: 20px;
    text-align: center;
    text-align: right;
    transform: rotate(-20deg);
    transform-origin: top right;
    white-space: nowrap;
}

.mcsPlotHeader {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 80px;
    white-space: nowrap;

    .form-control {
        width: unset;
    }
}

.mcsXAxisSection {
    position: absolute;
    top: 10px;
    border-color: inherit;
    border-width: thin;
    height: 10px;
    border-bottom-style: solid;
    border-right-style: solid;
    pointer-events: none;
}

.mcsXAxisImage {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.mcsCross {
    width: 80%;
    top: 10%;
    left: 10%;
    position: absolute;
    pointer-events: none;
}

.mcsImageButton {
    background-color: #fff;
    margin: 4px;
    padding: 0px;
    position: relative;
    border-radius: 0.5rem;
}

.mcsImageButton:hover {
    background-color: lightgray;
}

.mcsButtonImage {
    margin: 4px;
    width: 25px;
    height: 25px;
}

.mcsImageSmall {
    width: 24px;
    height: 24px;
}

.mcsImageMedium {
    width: 30px;
    height: 30px;
}

.mcsButtonImageSelected {
    background-color: lightgray;
    border-color: #46c37b;
}

.mcsMultiImageButtonContainer {
    width: 192px;

    button {
        margin: 4px;
        padding: 0px;
    }
}

.mcsTabButtonContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: inherit;
    border-color: inherit;
}

.mcsTabButton {
    flex-grow: 1;
    background-color: #bbbbbb;
    position: relative;
    padding: 0;
    border-style: solid solid none solid;
    border-color: #bbbbbb;
    border-radius: 0.5rem 0.5rem 0 0;

    &:hover {
        background-color: white;
    }
}

.mcsTabContent button:focus {
    outline: none;
    box-shadow: none;
}

.mcsTabButtonSelected {
    background-color: #ececec !important;
}

.darkMode .mcsTabButtonSelected {
    background-color: #4a5568 !important;
}

.mcsEquipmentImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mcsTooltip {
    background-color: black;
    position: absolute;
    width: 250px;
    margin-left: -125px;
    top: 105%;
    left: 50%;
    z-index: 1;
    pointer-events: none;
    line-height: normal;
}

.mcsTTTitle {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.mcsTTDivider {
    border-bottom: solid thin white;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.mcsTTText {
    color: white;
    text-align: left;
    font-size: small;
    margin: 1px;
}

.mcsButton:hover {
    background: #3e69c9;
}

.mcsButton:disabled {
    background-color: #3359a0;
    color: #bbbbbb;
}

.mcsMultiButtonContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: inherit;
    border-color: inherit;
}

.mcsMultiHeader {
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    display: inline-block;
    border-color: inherit;
}

.mcsNoMargin {
    margin: 0px;
}

.mcsLabel {
    text-align: right;
    margin-right: 4px;
    margin-bottom: 0px;
    white-space: nowrap;
    font-weight: unset;
}

.mcsNumberOutput {
    text-align: right;
    border-bottom: 1px solid;
    line-height: 1.15;
    padding: 0 2px;
}

.mcsSectionTitle {
    text-align: center;
    font-size: 18px;
    max-width: 240px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.mcsTextInput {
    text-align: right;
    height: 100%;
    color: inherit;
    background-color: inherit;
}

.mcsTicktext {
    position: absolute;
    width: 100%;
    right: 0px;
    text-align: right;
    margin-right: 2px;
    line-height: 0.9;
}

.mcsGridline {
    position: absolute;
    width: 100%;
    left: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: lightgray;
}

.mcsBarTooltip {
    bottom: 100%;
    padding-right: 2px;
    padding-left: 2px;
    height: 25px;
    color: white;
    border: solid thin white;
    background-color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.mcs-bar-container {
    display: flex;
    z-index: 1;
}

.mcsBar {
    position: relative;
    background-color: #0072bd;
    width: 15px;
    margin-right: 1px;
    margin-left: 1px;
    align-self: flex-end;
}

.mcsBarCantEnter {
    background-color: crimson !important;
}

.mcs-bar-max {
    background-color: #d7b400 !important;
}

.mcsXAxisImageContainer {
    align-self: flex-start;
    width: 17px;
    height: 17px;
    position: relative;
}

.mcsRadioContainer {
    display: flex;
    margin-right: -10px;
    line-height: 24px;

    .custom-control-inline {
        margin-right: 10px;
    }
}

.mcsCheckbox {
    transform: scale(1.5);
}

.mcsPopup {
    background-color: #ececec;
    color: #575757;
    border-color: #6c757d;
    border-style: solid;
    border-width: thick;
    border-radius: 0.5rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    z-index: 999;
    cursor: default;
}

@media (min-width: 983px) {
    .mcsPopup {
        position: absolute;
        top: 0;
        left: 100%;
        width: 614px;
    }
}

/* Prevent popups from rendering off-screen on mobile */
@media (max-width: 982px) {
    .mcsPopup {
        position: fixed;
        top: 10%;
        left: 10%;
        max-width: 80%;
        height: 80%;
        overflow-y: scroll;
    }
}

.tooltip-icon {
    width: 24px;
    height: 24px;
    margin: 2px 6px;
}

.darkMode {
    .mcsTabContent {
        color: whitesmoke !important;
        border-color: whitesmoke !important;
    }

    .mcsGridline {
        border-color: lightslategray;
    }

    .mcsOption {
        background-color: #2c343f;
    }

    .mcsBar {
        background-color: steelblue;
    }

    .mcsPopup {
        background-color: #3e4856;
        color: whitesmoke;
    }

    .mcsImageButton {
        background-color: #3e4856;
    }

    .mcsButtonImageSelected {
        background-color: #252a33;
    }

    .mcsImageButton:hover {
        background-color: #252a33;
    }

    .mcsTabButton {
        background-color: #3e4856;
        border-color: #3e4856;
    }

    .mcsTabButton:hover {
        background-color: #252a33;
    }

    .mcsTabContainer {
        border-color: #3e4856;
    }

    .form-control {
        border-color: #343a40;
    }

    .mcsCCContainer {
        .dropdown > button:hover {
            background: #464e5b !important;
        }

        .dropdown > button,
        .show.dropdown > button {
            background: #2d3542 !important;
            border-color: #3a3b49 !important;
        }
    }
}

.MCS.Platelegs.Image.Container {
    margin-right: 52px;
}

.mcsCCContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 20px;
    padding: 0 0.25rem;

    img {
        margin-right: 4px;
    }

    .heal-amount-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px !important;
        min-width: 55px;
    }

    .dropdown {
        width: 100%;
        margin: 5px 0;
    }

    .dropdown > button,
    .show.dropdown > button {
        font-weight: normal;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.synergy {
        justify-content: center;
    }

    .dropdown-toggle::after {
        margin-left: 8px;
    }
}

.mcsPopup .mcsCardContentContainer {
    width: 100%;
}

.plot-type-header-container {
    display: flex;
    margin-top: 5px;
}

.micsr[data-tippy-root] {
    pointer-events: initial !important;
}

.msc-dropdown-content-search {
    width: 100% !important;
}

.constellation-modifiers-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;

    .astro-mod {
        height: 20px;
        cursor: pointer;
    }
}

.mcs-contellation-skill-container {
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
