#myth-combat-simulator-modal {
    .mcs-image-btn {
        display: block;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
        line-height: 20px;

        img {
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
        }
    }
}
