#myth-combat-simulator-modal {
    .mcs-line-item-wrapper {
        text-align: end;
    }

    .mcs-line-item-value {
        margin-left: 5px;
        width: 60px;
        display: inline-block;
        border-bottom: solid 1px;
    }

    .mcs-line-item-img {
        vertical-align: sub;
    }
}
