#myth-combat-simulator-modal {
    .modal-dialog {
        max-width: 95%;
        transform: none !important;
    }

    .bug-report {
        font-size: 12px;
    }

    .mcs-flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mcs-flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mcs-fixed-width {
        max-width: 220px;
    }

    .mcs-md-text {
        font-size: 0.75rem;
    }

    .mcs-red {
        color: red;
    }
}

#combat-simulator-init-exception {
    font-size: 12px;
    font-family: consolas;
    white-space: pre;
}

.mcs-missing-mods {
    text-align: left;
    line-height: 1.3rem;

    .text-warning {
        padding: 10px;
        border-radius: 5px;
    }
}
