#myth-combat-simulator-modal {
    .modal-dialog {
        transform: none !important;
    }

    .bug-report {
        font-size: 12px;
    }
}

#combat-simulator-init-exception {
    font-size: 12px;
    font-family: consolas;
    white-space: pre;
}

.mcs-missing-mods {
    text-align: left;
    line-height: 1.3rem;

    .text-warning {
        padding: 10px;
        border-radius: 5px;
    }
}
