#myth-combat-simulator-modal {
    .modal-dialog {
        transform: none !important;
    }
}

#combat-simulator-init-exception {
    font-size: 12px;
    font-family: consolas;
    white-space: pre;
}
