#myth-combat-simulator-modal {
    .mcs-equipment-row {
        display: flex;
    }

    .blank.combat-equip-img {
        background: transparent !important;
    }

    #mcs-synergy-button {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 28px;
            height: 28px;
        }
    }
}

.mcs-media-body {
    padding: 5px !important;
}
