#myth-combat-simulator-modal {
    .mcs-equipment-row {
        display: flex;
    }

    .mcs-equipment-item .combat-equip-img {
        width: 40px;
        height: 40px;
    }

    .blank.combat-equip-img {
        background: transparent !important;
    }

    #mcs-synergy-button {
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 24px;
            height: 24px;
        }
    }
}

.mcs-media-body {
    padding: 5px !important;
}
